<h1>My Tasks</h1>
<ul class="list-group list-group-flush">
  <% @tasks.each do |task| %>
  <li class="list-group-item">
    <input type="checkbox" name="" id="" <%= "checked" if task.completed %>>
    <%= link_to task.title, task_path(task) %>
    <i class="bi bi-archive"></i>
    <%= link_to "Delete", task_path(task),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
  </li>
  <% end %>
</ul>
<%= link_to "Add a new task", new_task_path %>
